<table style="width:100%">
  <% @teams.each_index do |rowidx| %>
    <% team = @teams[rowidx] %>
    <% if rowidx % 2 == 0 %>
      <tr>
      <% end %>
      <td style="padding:.5em;">
        <!-- begin div. -->
        <div id="" style="float:left;">
          <%= image_tag("/logos/#{team.image}",:size=>"50x50",:style=>"vertical-align:middle;") %>
        </div>
        <div style="font-style:italic; font-size:.6em;">
          <a href="http://sports.espn.go.com/ncf/clubhouse?teamId=<%= team.espnid %>" target="_new" title="<%= team.location %> <%= team.name %> @ ESPN">
            <span style="font-weight: bold;"><%= team.location %> <%= team.name %></span>
          </a>
          <br />
          Record: <%= team.record %>
          <br />
          Rank: <%= team.rankAP %> AP - <%= team.rankUSA %> USA
          <br />
          <%= team.conference %>
          <br />
        </div>
        <!-- end div. -->
      </td>
      <% if (rowidx+1) % 2 == 0 %>
      </tr>
    <% end %>
  <% end %>
</table>