<hr />
<a name="<%= @week %>"></a>
<table style="text-align:center; border-collapse:collapse;" border="0" cellpadding="1" cellspacing="0">
  <tr style="text-align:center;" valign="bottom">
    <td><h1>Week <%= @week %></h1></td>
    <% @games.each do |game| %>
      <td class="bl bt colhead">
        <a href="http://sports.espn.go.com/ncf/clubhouse?teamId=<%= game.aespnid %>" target="_new" title="<%= game.awayloc %> <%= game.awayname %> @ ESPN">
          <%= image_tag("/logos/#{game.awayimage}",:size=>"24x24",:title=>"#{game.awayloc} #{game.awayname}") %>
        </a>
        <br /><%= game.away_score %>
      </td>
      <td class="br bt colhead">
        <a href="http://sports.espn.go.com/ncf/clubhouse?teamId=<%= game.hespnid %>" target="_new" title="<%= game.homeloc %> <%= game.homename %> @ ESPN">
          <%= image_tag("/logos/#{game.homeimage}",:size=>"24x24",:title=>"#{game.homeloc} #{game.homename}") %>
        </a>
        <br /><%= game.home_score %>
      </td>
    <% end %>
    <td class="bl bt br colhead" style="width:1em;">W</td>
    <td class="bl bt br colhead" style="width:1em;">C</td>
    <td class="bl bt br colhead" style="width:1em;">P</td>
    <td class="bl bt br colhead" style="width:1em;">7</td>
    <td class="bl bt br colhead" style="width:1em;">T</td>
  </tr>
  <% @pickmatrix.each_index do |rowidx| %>
    <tr>
      <td rowspan="2" style="text-align:right;" class="">
        <%= @users[rowidx].firstname+" "+@users[rowidx].lastname %>
      </td>
      <% @pickmatrix[rowidx].each do |pick| %>
        <% if pick && @games[@gameids[pick.game_id]].gametime < @now %>
          <td class="bl bt bcell"><%= pick.away_score %></td>
          <td class="bt br bcell"><%= pick.home_score %></td>
        <% else %>
          <td class="bl bt bcell"></td>
          <td class="bt br bcell"></td>
        <% end %>
      <% end %>
      <td rowspan="2" class="ball bcell"><%= @users[rowidx].wins %></td>
      <td rowspan="2" class="ball bcell"><%= @users[rowidx].closests %></td>
      <td rowspan="2" class="ball bcell"><%= @users[rowidx].perfects %></td>
      <td rowspan="2" class="ball bcell"><%= @users[rowidx].sevens %></td>
      <td rowspan="2" class="ball bcell"><%= @users[rowidx].total %></td>
    </tr>
    <tr>
      <% @pickmatrix[rowidx].each do |pick| %>
        <td colspan="2" class="bl bb br bcell">
          <% if pick && @games[@gameids[pick.game_id]].gametime < @now %>
            <% if pick.pick_score != -1 %>
              <% if pick.is_closest == 1 %>
                <span class="closest">(<%= pick.pick_score %>)</span>
              <% else %>
                (<%= pick.pick_score %>)
              <% end %>
            <% else %>
              <span style="color:#444;">(N/A)</span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br />
