<td></td>
<td colspan="<%= @colspan %>">
  <% if @item.id %>
    <% divid = "edit#{@item.id}" %>
    <% options = {:url=>{:action=>"update",:id=>@item.id}, :update => "item#{@item.id}",:loading=>visual_effect(:fade,"edit#{@item.id}",:duration=>0.25)} %>
  <% else %>
    <% divid="new_item" %>
    <% options = {:url=>{:action=>"update"}, :update => "item_list"} %>
  <% end %>
  <div id="<%= divid %>">
    <%= form_tag options do %>
      <table class="editbox">
        <tr>
          <td>
            <% if @item.id %>
              <%= link_to_remote "Cancel",{:url=>{:action=>"list",:id=>@item.id},:update=>"item#{@item.id}", :loading=>visual_effect(:fade,"edit#{@item.id}",:duration=>0.25)}%>
            <% else %>
              <%= link_to_remote "Close",{:url=>{:action=>"new"},:update=>"item_new", :loading=>visual_effect(:fade,"new_item",:duration=>0.25)}%>
            <% end %>
          </td>
          <td class="label">Location</td>
          <td><%= text_field "item","location" %></td>
          <td rowspan="5"><%= image_tag "/logos/#{@item.image}",{:id => "image#{@item.id}", :title => "#{@item.name}\'s Logo"} %></td>
        </tr>
        <tr>
          <td ></td>
          <td class="label">Name</td>
          <td><%= text_field "item","name" %></td>
        </tr>
        <tr>
          <td ></td>
          <td class="label">Logo</td>
          <td><%= text_field "item", "image", :onblur => "change_image(\'image#{@item.id}\',\'/logos/\'+item_image.value)" %></td>
        </tr>
        <tr >
          <td ></td>
          <td class="label">Conference</td>
          <td><%= text_field "item","conference" %></td>
        </tr>
        <tr >
          <td ></td>
          <td class="label">AP Rank</td>
          <td><%= text_field "item","rankAP" %></td>
        </tr>
        <tr >
          <td ></td>
          <td class="label">USA Today Rank</td>
          <td><%= text_field "item","rankUSA" %></td>
        </tr>
        <tr >
          <td ></td>
          <td class="label">Record</td>
          <td><%= text_field "item","record" %></td>
        </tr>
        <tr >
          <td>
            <% if @item.id %>
              <%= submit_tag "Update" %>
            <% else %>
              <%= submit_tag "Create" %>
            <% end %>
          </td>
          <td class="label">ESPN ID</td>
          <td><%= text_field "item","espnid" %></td>
          <td class=""><%= link_to "Grab Info",:action=>"update_from_espn",:id=>@item.id,:logo=>true %></td>
        </tr>
      </table>
    <% end %>
  </div>
</td>
