<td>
  <%= link_to_remote image_tag("edit_off.png", :alt=>"edit#{@item.id}", :mouseover=>image_path("edit_on.png")), {:url=>{:action=>"edit", :id=>@item.id}, :update=>"item#{@item.id}",:complete=>visual_effect(:appear,"edit#{@item.id}",:duration=>0.5)} %>
</td>
<td class="left">
  <%= @item.name %>
</td>
<td class="left">
  <%= @item.location %>
</td>
<td class="center">
  <%= @item.multiplier %>
</td>
<td class="center">
  <% @game = Game.find_with_teamnames(:conditions=>"games.id=#{@item.game_id}").first %>
  <%= @game.away_name %> @ <%= @game.home_name%>
</td>
<td class="center">
  <% if @item.url != "" %>
    <a href="<%= @item.url %>" target="_TOP">URL</a>
  <% end %>
</td>
<td class="center">
  <%= form_remote_tag :url=>{:action=>"delete",:id=>@item.id},:confirm=>"This will delete #{@item.name}. Proceed?",:update=>"item#{@item.id}",:loading=>"Element.remove('item#{@item.id}')" do %>
    <%= submit_tag "X" %>
  <% end %>
</td>
