<%= form_tag do -%>
  <table summary="Summary" class="className" cellspacing="" cellpadding="" border="0">
    <tr class="">
      <td class="label">Login</td>
      <td class=""><%= text_field "item","login" %><span class="footnote">3-40 characters</span></td>
    </tr>
    <tr class="">
      <td class="label">First Name</td>
      <td class=""><%= text_field "item","firstname" %></td>
    </tr>
    <tr class="">
      <td class="label">Last Name</td>
      <td class=""><%= text_field "item","lastname" %></td>
    </tr>
    <tr class="">
      <td class="label">Email</td>
      <td class=""><%= text_field "item","email" %></td>
    </tr>
    <tr class="">
      <td class="label">Receive Pick Alerts?</td>
      <td class=""><%= check_box "item","alerts" %></td>
    </tr>
    <tr class="">
      <td class="label">New Password</td>
      <td class=""><%= password_field_tag "newpassword" %><span class="footnote">5-40 characters</span></td>
    </tr>
    <tr class="">
      <td class=""></td>
      <td class="footnote" colspan="2">Leave blank for no password change.</td>
    </tr>
    <tr class="">
      <td class="label">Confirm New</td>
      <td class=""><%= password_field_tag "newpassconf" %></td>
    </tr>
    <tr class="">
      <td></td>
      <td class="center"><%= submit_tag "Update" %></td>
    </tr>
  </table>
<% end -%>
