<td></td>
<td colspan="<%= @colspan %>">
  <% if @item.id %>
    <% divid = "edit#{@item.id}" %>
    <% options = {:url=>{:action=>"update",:id=>@item.id}, :update => "item#{@item.id}",:loading=>visual_effect(:fade,"edit#{@item.id}",:duration=>0.25)} %>
  <% else %>
    <% divid="new_item" %>
    <% options = {:url=>{:action=>"update"}, :update => "item_list"} %>
  <% end %>
  <div id="<%= divid %>">
    <%= form_tag options do %>
      <table class="editbox">
        <tr>
          <td>
            <% if @item.id %>
              <%= link_to_remote "Cancel",{:url=>{:action=>"list",:id=>@item.id},:update=>"item#{@item.id}", :loading=>visual_effect(:fade,"edit#{@item.id}",:duration=>0.25)}%>
            <% else %>
              <%= link_to_remote "Close",{:url=>{:action=>"new"},:update=>"item_new", :loading=>visual_effect(:fade,"new_item",:duration=>0.25)}%>
            <% end %>
          </td>
          <td class="label">First Name</td>
          <td><%= text_field "item","firstname" %></td>
        </tr>
        <tr>
          <td ></td>
          <td class="label">Last Name</td>
          <td><%= text_field "item","lastname" %></td>
        </tr>
        <tr>
          <td ></td>
          <td class="label">Login</td>
          <td><%= text_field "item","login" %></td>
        </tr>
        <tr >
          <td ></td>
          <td class="label">Email</td>
          <td><%= text_field "item","email" %></td>
        </tr>
        <tr >
          <td>
            <% if @item.id %>
              <%= submit_tag "Update" %>
            <% else %>
              <%= submit_tag "Create" %>
            <% end %>
          </td>
          <td class="label">Flags</td>
          <td >
            <%= check_box "item","alerts" %>Alerts
            <%= check_box "item","is_admin" %>Admin
            <%= check_box "item","new_password" %>Set Password
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</td>
