<td></td>
<td colspan="7">
  <% if item.id %>
    <% divid = "edit#{item.id}" %>
    <% form_url = admin_user_path(item) %>
    <% form_options = { :method=>:put, :remote=>true } %>
    <% submit_str = "Update" %>
  <% else %>
    <% divid="new_item" %>
    <% form_url = admin_users_path %>
    <% form_options = { :method=>:post, :remote=>true } %>
    <% submit_str = "Create" %>
  <% end %>
  <div id="<%= divid %>">
    <%= form_tag form_url, form_options do %>
      <table class="editbox">
        <tr>
          <td>
            <% if item.id %>
              <%= link_to "Cancel", admin_user_path(item), :remote=>true %>
            <% end %>
          </td>
          <td class="label">First Name</td>
          <td><%= text_field "item","firstname" %></td>
        </tr>
        <tr>
          <td></td>
          <td class="label">Last Name</td>
          <td><%= text_field "item","lastname" %></td>
        </tr>
        <tr>
          <td></td>
          <td class="label">Login</td>
          <td><%= text_field "item","login" %></td>
        </tr>
        <tr>
          <td></td>
          <td class="label">Email</td>
          <td><%= text_field "item","email" %></td>
        </tr>
        <tr>
          <td>
            <%= submit_tag submit_str  %>
          </td>
          <td class="label">Flags</td>
          <td>
            <%= check_box "item","alerts" %>Alerts
            <%= check_box "item","is_admin" %>Admin
            <%= check_box "item","new_password" %>Set Password
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</td>
